@import '../../index.scss';

.Button {
  width: 100%;

  color: $color2;
  background-color: transparent;

  font-weight: 300;
  font-size: $small;

  border: 2px solid $color2-25;
  border-radius: 16px;

  padding: 8px 0;

  cursor: pointer;
}
