@import '../../index.scss';

.like-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .like-icon {
    color: $color2-50;

    font-size: $medium;

    cursor: pointer;
  }

  .like-count {
    color: $color2-50;

    font-weight: 300;
    font-size: $medium;

    margin-left: 8px;
  }
}
