@import '../../index.scss';

.SignOptions {
  .question {
    color: $color2-50;

    font-weight: 300;
    font-size: $small;

    margin: 0;
    margin-top: 32px;
  }

  .sign-options-button-container {
    margin-top: 16px;
    a {
      &:nth-child(2) {
        button {
          margin-top: 8px;
        }
      }
    }
  }
}
