@import '../index.scss';

.Comments {
  margin: 0;
  padding: 0;
  .comments-section-header {
    color: $color2;

    font-weight: 600;
    font-size: $big;

    margin: 0;
    margin-top: 32px;
  }

  .comments-section-add-comment {
    margin: 0;
    margin-top: 16px;
  }

  .comments-no-comment-container {
    color: $color2-50;

    font-weight: 600;
    font-size: $medium;
    text-align: center;

    margin: 0;
    margin-top: 16px;
  }
}
