@import '../index.scss';

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 32px;
  .home-inside {
    width: $fixed-width1;
  }

  .home-post-container {
  }
}
