@import '/src/index.scss';

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }

  span {
    margin: 0;
    pad: 0;
    font-size: 32px;
  }
}
