@import '../index.scss';

.Post {
  display: flex;
  flex-direction: column;
  width: $fixed-width1;

  margin-top: 16px;

  .post-image {
    width: 100%;

    cursor: pointer;
  }

  .post-date {
    color: $color2-25;

    font-weight: 300;
    font-size: $small;

    margin: 0;
    margin-top: 8px;
  }

  .post-main {
    .post-title {
      color: $color2;

      font-weight: 600;
      font-size: $biggest;

      margin: 0;
      margin-top: 8px;

      cursor: pointer;
    }

    .post-message {
      position: relative;

      color: $color2-50;

      font-weight: 300;
      font-size: $medium;

      height: 100px;
      overflow-y: hidden;

      margin: 0;
      margin-top: 8px;

      cursor: pointer;
    }

    .detailed {
      position: inherit;
      height: auto;
      overflow-y: visible;
    }

    .message-hider {
      position: absolute;
      bottom: 0;

      height: 50px;
      width: 300px;

      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  .post-tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0;
    margin-top: 16px;

    .post-tag {
      color: $color2;
      background-color: $color2-25;

      font-weight: 300;
      font-size: $smallest;

      margin: 0;
      margin-right: 8px;
      padding: 4px;

      border-radius: 16px;

      cursor: pointer;
    }
  }

  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 16px;

    .post-like-comment-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div:nth-child(2) {
        margin-left: 16px;
      }
    }

    .post-footer-right {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .post-read-time {
        color: $color2-50;

        font-weight: 300;
        font-size: $medium;
      }

      .post-bookmark-icon {
        color: $color2-50;

        font-size: $biggest;

        margin-left: 16px;
        cursor: pointer;
      }
    }
  }
}
